<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Create Post
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">

      <ion-card-header>
        Create a new post
      </ion-card-header>

      <ion-card-content>
        <ion-textarea [(ngModel)]="postContent" name="postContent" class="post message" placeholder="What do you want to say?">
        </ion-textarea>
        
      <ion-input [(ngModel)]="imageUrl" name="imageUrl" placeholder="Image URL"></ion-input>
    </ion-card-content>
        <ion-button (click)="createPost()" color="primary">
          Post message
        </ion-button>


    </ion-card>
</ion-content>
